<div class="topNav">
    <label>API URL: </label> <input id="apiUrl" size="75" /><button id="apiSubmit" class="sbbtn btn" type="submit">Submit</button>
</div>

<div class="mainNav">
    <h1>API Tester</h1>
    <br />
    <div id="" class="inputParams">
        <div class="params1">

            <br />
            <label>Type: </label>
            <select id="requestType">
                <option value="Get">Get</option>
                <option value="Post">Post</option>
            </select>
            <br />
            <label>Number of tests: </label>   <input id="testNum" />
            <br />
            <label>Concurrent Test: </label>   <input id="conCount" />
            <br />
            <label>Test Delay (ms): </label>   <input id="testDelay" value="0" />
        </div>    
    </div>
    <div class="resultStats">
        <h4>Current Result</h4>
        <label id="sucCount">Success Count: </label>
        <br />
        <label id="avgTime">Average Time: </label>
        <br />
        <label id="elapsedTime">Elapsed Time: </label>
    </div>

    <button id="clrBtn" class="clearBtn btn">Clear All Results</button>
</div>

<div id="mainDiv" class="mainDiv">

    <div id="apiInput" class="messageBod">
        <label>JSON Body: </label>
        <br />
        <textarea id="jsonBody" rows="15" cols="100"></textarea>
        <br />
        
    </div>

    <br />
    <div id="apiReturn" class="responseBod">
        <label>API Return Text: </label>
        <br />
        <textarea id="returnText" rows="15" cols="100">

        </textarea>
    </div>

        

    <div id="apiResults" class="resultsBod">
        <h1>Results</h1>

        <div id="plotDiv" class="lgDiv">

        </div>
    </div>

</div>

@section scripts{
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="~/js/responsePlot.js"></script>
    <script type="text/javascript">
    $('#apiSubmit').on('click', function () {
        var apiUrl = $("#apiUrl").val();
        var testNum = $("#testNum").val();
        var conCount = $("#conCount").val();
        var jsonBody = $("#jsonBody").val();
        var testDelay = $("#testDelay").val();
        var requestType = $("#requestType").val();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("startAPITest", "Home")',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ apiUrl: apiUrl, testDelay: testDelay, testNum: testNum, conNum: conCount, jsonBody: jsonBody, requestType: requestType }),
            success: function (data) {
                $("#returnText").val(data.finalResponseText);
                $("#sucCount").html("Success Count:  " + data.testData.successCount);
                $("#elapsedTime").html("Elapsed Time: " + data.timings.totalTime + " ms")
                $("#avgTime").html("Average Time: " + avgCalc(data.timings.elapsedTimes) + " ms");
                drawData(JSON.parse(data.timings.jsonTimes));
            }
        });
        });

        $("#clrBtn").on("click", function () {
            $("svg").remove();
        });

    </script>
}