/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.mainDiv {
    margin-left: 11%;
    margin-top: 5%;
}
.inputParams {

    border-bottom: solid;
    border-width:1px;
    border-color: black;
    padding: 1%;
    padding-bottom: 5%;
}
.params1{
    position:relative;
}
.params2{
    position:relative;
}
.cResults {
    position: relative;
    margin-top: .5%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-bottom: 1%;
    overflow: hidden;
}

.cResults h1{
    position:relative;
    
    margin-left: 50%;
}
.resultStats {
padding-top:5%;

}
.resultStats h4{
    position:relative;
}
.clearBtn{
    width: 125px;
}
.mainNav {
    top: 0;
    position: fixed;
    height: 100%;
    width: 10%;
    z-index: 1;
    overflow-x: hidden;
    border-right: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
}
.mainNav h1{
    margin-left:5%;
}
.topNav {
    width: 90%;
    height: 8%;
    z-index: 2;
    overflow: hidden;
    margin-bottom: 5%;
    margin-left: 10%;
    top: 0;
    position: fixed;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    padding-left: 15%;
    background-color:white;
    font-size:150%;
    padding-top: 1%
}
.topNav input{
    width: 60%;
}
.messageBod {
    position: fixed;
    border-right: solid;
    padding-left: 1%;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    width: 45%;
    height: 58%;
    top:8%;
    left:10%;
}
    .messageBod textarea {
        resize: none;
        height: 90%;
        width: 95%;
    }
.responseBod {
    top: 8%;
    position: fixed;
    padding-left: 1%;
    margin-left: 44%;
    width: 45%;
    height: 58%;
    border-bottom: solid;
    border-width: 1px;
}
    .responseBod textarea{
       resize:none;
       height: 90%;
       width: 95%;
    }
.resultsBod {
    position: fixed;
    width:89%;
    margin-top:29%;
    overflow-x:hidden;
    overflow-y:scroll;
    height:34%;
}
.resultsBod h1{
    margin-left: 45%;
}
.sbbtn{
    width: 10%;
    height:65%;
    margin-left: 1%;
}
.navLabel{
    width: 60%;
}
.navInput{
    width: 90%;
}